
@{
    ViewBag.Title = "İletişim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="height:600px;margin-top:50px">
    <div class="bodyInner">
        <h2>İletişim</h2>
        <hr />
        <div class="row">
            <div class="col-md-5">
                <p> @Html.Raw(@ViewBag.contact)</p>
            </div>
            <div class="col-lg-7">
                @{Html.RenderAction("Create", "Message");}
            </div>
        </div>
    </div>
</div>