
@{
    ViewBag.Title = "Referanslar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="height:520px;margin-top:50px">
    <div class="bodyInner"></div>
    <hr />
    <h2>Referanslar</h2>
    @Html.Raw(@ViewBag.referances)
</div>